/* ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
  z-index: 2;
}

.main-nav {
  margin-top: 19px;
}
.logo a,
.main-nav a {
  padding: 20px 40px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.7em;
  font-weight: 900;
}

.main-nav a:hover {
  color: #15b2a2;
}

.main-nav a:hover:before {
  color: #15b2a2;
}

.active {
  color: #15b2a2 !important;
}

.active :before {
  content: '|';
  font-size: 1.07em;
  font-weight: 700;
  color: #15b2a2;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}



@media (min-width: 900px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
  }
}

@media (min-width: 1025px) {
  .header {
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
  }
}
.logout {
  background-color: #dc2727;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  color: white;
}

.userName {
  content: ' ';
  display: inline-flex;
  margin: 5px;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 85vw;
  position: sticky;
}
.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #15b2a2;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #15b2a2;
  z-index: 4;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    z-index: 3;
    left: -200%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.logout {
  background-color: #dc2727;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  color: white;
}

.userName {
  content: ' ';
  display: inline-flex;
  margin: 5px;
}
