ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
  z-index: 2;
}

.main-nav {
  margin-top: 19px;
}
.logo a,
.main-nav a {
  padding: 20px 40px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.7em;
  font-weight: 900;
}

.main-nav a:hover {
  color: #15b2a2;
}

.main-nav a:hover:before {
  color: #15b2a2;
}

.active {
  color: #15b2a2 !important;
}

.active :before {
  content: '|';
  font-size: 1.07em;
  font-weight: 700;
  color: #15b2a2;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
  }
}

@media (min-width: 1025px) {
  .header {
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
  }
}
.logout {
  background-color: #dc2727;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  color: white;
}

.userName {
  content: ' ';
  display: inline-flex;
  margin: 5px;
}
